// темная тема
$main-dark-color-bg: #0D1117;
$light-color-text: #fff;
$dark-color-bg: #4f4f4f;
$dark-color-card-bg:#2E3035;


// светлая тема
$main-light-color-bg:#fff;
$dark-color-text: #000;
$light-color-bg: #fff;
$blue-color-bg: rgba(71, 147, 255, 0.2);


// общие
$grey-color-text: #939CB0;
$blue-color-active:#4793FF;
$box-shadow:  2px 5px 25px -3px rgba(180, 180, 180, 0.4);