/* ========== Глобальные переменные ========== */
@import "../variables.scss";

/* ========== Глобальные переменные ========== */
@import "../global.scss";

.monthly-forecast{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 20px 0;
}